name: Node CI

on: [push, pull_request]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v2
        with:
          node-version: 14
      - uses: actions/cache@v2
        with:
          path: node_modules
          key: natterstefan-nextjs-template-${{ hashFiles('**/yarn.lock') }}
      - run: yarn
      - run: yarn lint
      - run: yarn test
